form {
    width: 360px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-top: 36px;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 72px;
}

input {
    box-sizing: border-box;
    border: 1px solid #808080;
    border-radius: 4px;
    transition: border-color 250ms linear;
}

form label input {
    height: 40px;
}

fieldset {
    box-sizing: border-box;
    display: flex;
    width: 360px;
    height: 78px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 14px 48px 12px 48px;
    margin-bottom: 24px;
    margin-top: 16px;
    transition: border-color 250ms linear;
}

input:hover,
fieldset:hover {
    border-color: #000;
}

fieldset label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 104px;
    height: 32px;
}

form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background-color: #ef1c1c;
    color: #fff;
    margin-left: 0;
    transition: background-color 250ms linear;
}

form button:hover {
    background-color: #ef3131;
}